@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

.nav_logo {
  display: none;
}

.ul {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../imagens/banner.png");
  background-size: cover;
  background-position-x: -300px;
  background-position-y: -70px;
  position: relative;
  top: 48px;
  height: calc(100vh + 58px);
  z-index: 2;
}

header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(7%, black), to(transparent));
  background-image: linear-gradient(to top, black 7%, transparent);
  z-index: -1;
}

header nav {
  height: 52px;
  width: 100%;
  background-color: #2571B7;
  position: fixed;
  z-index: 999;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu_toggle {
  height: 25px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

header nav .menu_toggle .line {
  width: 24px;
  height: 2px;
  background-color: #F8FAFD;
}

header nav .logo {
  height: 28px;
  text-align: center;
  width: 113px;
  line-height: 35px;
  background-color: #002050;
  color: #B6BFCD;
}

header nav .logo p {
  font-size: 13px;
  font-weight: bold;
}

header .header_middle {
  color: #F2F1F1;
  text-align: center;
  height: 240px;
  width: 80%;
  margin-top: -125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header_middle h1 {
  font: normal normal 600 42px/56px Roboto;
}

header .header_middle h3 {
  font-weight: lighter;
  position: relative;
  top: -5px;
}

header .header_middle .middle_button {
  height: 50px;
  width: 170px;
  background-color: #00A4EF;
  margin: 0 auto;
  line-height: 45px;
  position: relative;
  top: 55px;
}

header .header_middle .middle_button:hover {
  background-color: #b40000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .header_middle .middle_button h4 {
  font-size: 20px;
  font-weight: bold;
  opacity: .8;
}

header .header_bottom {
  height: auto;
  width: 100%;
  position: relative;
  top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10.5%;
}

header .header_bottom .nav_arrow a {
  height: 33px;
  width: 33px;
  border-bottom: 4px solid white;
  border-left: 4px solid white;
  border-radius: 5px;
  border-right: 4px solid rgba(255, 255, 255, 0);
  border-top: 4px solid rgba(255, 255, 255, 0);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  top: -10px;
  display: none;
}

header .header_bottom .bottom_logo {
  height: 25px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../imagens/banner_logo.png");
}

section.first_section {
  color: #9C9C9C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 80px 15px;
  margin-top: -30px;
}

section.first_section p {
  line-height: 25px;
  font-size: 15px;
  margin-top: 20px;
}

.arrow_section {
  width: 100%;
  text-align: center;
  color: #9C9C9C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arrow_section h2 {
  color: #2571B7;
  position: relative;
  top: -15px;
  margin-bottom: 17px;
}

.arrow_section div[none=true] {
  display: none;
}

.arrow_section .arrow_container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 90%;
  height: 110px;
  max-width: 1300px;
  background-color: #0072C6;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.arrow_section .arrow_container .arrow {
  height: 50px;
  min-width: 50px;
  width: 30%;
  float: left;
}

.arrow_section .arrow_container .arrow img {
  height: 50px;
  min-width: 50px;
  width: 50px;
}

.arrow_section .arrow_container .arrow_text {
  width: 70%;
  float: right;
  text-align: left;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80%;
}

.arrow_section .arrow_container .arrow_text h3 {
  font-size: 14px;
}

.arrow_section .arrow_container .arrow_text p {
  font-size: 12px;
}

.arrow_section .arrow_container1 {
  background-color: #0072C6;
}

.arrow_section .arrow_container2 {
  background-color: #2C5898;
}

.arrow_section .arrow_container3 {
  background-color: #207245;
}

.arrow_section .arrow_container4 {
  background-color: #CB4A32;
}

.arrow_section .arrow_container5 {
  background-color: #733781;
}

.arrow_section .arrow_container6 {
  background-color: #00AFF0;
}

.arrow_section .arrow_container7 {
  background-color: #094AB2;
}

.arrow_section .arrow_container8 {
  background-color: #0073C6;
}

.arrow_section .arrow_container9 {
  background-color: #0093BE;
}

.arrow_section .arrow_container10 {
  background-color: #5558AF;
}

.handShake_section {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.handShake_section h2 {
  margin-left: 20px;
  margin-bottom: 24px;
  color: #5490C7;
}

.handShake_section .container {
  height: 170px;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.handShake_section .container .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 75%;
}

.handShake_section .container .text_container .text {
  width: 80%;
  height: 100%;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.handShake_section .container .text_container .text h3 {
  color: #7FBA00;
}

.handShake_section .container .text_container .text p {
  position: relative;
  top: -10px;
  font-size: 13px;
  color: #9C9C9C;
}

.handShake_section .container .text_container .simbol {
  width: 20%;
  height: 100%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.handShake_section .container .text_container .simbol img {
  height: 60px;
  width: 60px;
  margin: 0 auto;
  margin-top: 20px;
}

.handShake_section .container .button {
  position: relative;
  float: left;
  height: 22%;
  width: 100%;
  line-height: 37.4px;
  font-size: 13px;
}

.handShake_section .container .button h3 {
  text-align: center;
  width: 100px;
  height: 100%;
  border: 1px solid #7FBA00;
  color: #7FBA00;
}

.shield_container .shield_text_container .shield_text h3 {
  color: #00A4EF !important;
}

.shield_container .shield_button {
  position: relative;
  float: left;
  height: 22%;
  width: 100%;
  line-height: 37.4px;
  font-size: 13px;
}

.shield_container .shield_button h3 {
  text-align: center;
  width: 100px;
  height: 100%;
  border: 1px solid #00A4EF !important;
  color: #00A4EF !important;
}

.desktop_container .desktop_text_container .desktop_text h3 {
  color: #FFB900 !important;
}

.desktop_container .desktop_button {
  position: relative;
  float: left;
  height: 22%;
  width: 100%;
  line-height: 37.4px;
  font-size: 13px;
}

.desktop_container .desktop_button h3 {
  text-align: center;
  width: 100px;
  height: 100%;
  border: 1px solid #FFB900 !important;
  color: #FFB900 !important;
}

hr {
  background-color: #DFDFDF;
  width: 90%;
  height: 1px;
  border: 1px solid #DFDFDF;
  margin: 0 auto;
  margin-top: 20px;
}

.lorem {
  height: auto;
  text-align: center;
  border-collapse: collapse;
}

.lorem h2 {
  margin: 60px 0 0px 0;
  color: #5490C7;
}

.lorem .lorem_container:first-of-type {
  margin-top: 100px;
}

.lorem .lorem_container {
  height: 180px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 20px;
  border: 2px solid rgba(0, 0, 0, 0.144);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lorem .lorem_container h4 {
  color: #F25022;
}

.lorem .lorem_container p {
  color: #9C9C9C;
}

.banner2 {
  height: 250px;
  width: 100%;
  margin-top: 80px;
  padding: 0 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../imagens/banner2.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #fff;
  font: normal normal normal roboto !important;
  line-height: 40px;
}

.banner2 h2 {
  opacity: .8;
}

.form {
  text-align: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
  color: #9C9C9C;
}

.form .p {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 17px;
  line-height: 27px;
}

.form form {
  background-color: #E6E6E6;
  height: 700px;
  padding-top: 10px;
  max-width: 480px;
  margin: 0 auto;
}

.form form div {
  width: 88%;
  height: 100px;
  margin: 0 auto;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}

.form form div input {
  width: 100%;
  height: 60px;
  border: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 17px;
  padding-left: 18px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.form form div input:hover {
  outline: none;
  border: 2px solid #3077b9;
}

.form form div input:hover ~ p {
  color: #3077b9;
}

.form form div input:hover::-webkit-input-placeholder {
  opacity: 1;
}

.form form div input:hover:-ms-input-placeholder {
  opacity: 1;
}

.form form div input:hover::-ms-input-placeholder {
  opacity: 1;
}

.form form div input:hover::placeholder {
  opacity: 1;
}

.form form input[type=submit] {
  width: 88%;
  border: none;
  background-color: #00A4EF;
  color: white;
  height: 65px;
  font-size: 27px;
  margin-top: 49px;
}

.form form input[type=submit]:hover {
  background-color: #b40000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

::-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

::placeholder {
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

footer {
  height: 115px;
  width: 100%;
  margin-top: 80px;
  background-color: #003467;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
}

footer .bottom_logo_container {
  width: 100%;
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  top: 35px;
}

footer .bottom_logo_container .bottom_logo {
  height: 35px;
  width: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../../imagens/banner_logo.png");
}

footer p {
  font-size: 13px;
  color: #9C9C9C;
}

@media screen and (min-width: 814px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../imagens/banner.png");
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
  }
  header nav {
    padding: 0 120px;
  }
  header nav .menu_toggle, header nav .logo {
    display: none;
  }
  header nav .nav_logo {
    display: block;
    height: 45%;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../../imagens/banner_logo.png");
  }
  header nav .ul {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 500px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  header nav .ul li {
    text-decoration: none;
    list-style-type: none;
  }
  header nav .ul li a {
    text-decoration: none;
    color: #9C9C9C;
    font-weight: 400;
    font-size: 13px;
  }
  header nav .ul li a:hover {
    color: #ffffff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header nav .ul li:last-of-type {
    height: 28px;
    text-align: center;
    width: 105px;
    line-height: 24px;
    background-color: #002050;
    color: #B6BFCD;
    margin-left: 40px;
    margin-right: -20px;
  }
  header nav .ul li:last-of-type a {
    color: white;
  }
  header .header_middle {
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    top: 20px;
  }
  header .header_middle h1 {
    font-size: 60px;
  }
  header .header_middle h3 {
    font-size: 23px;
  }
  header .header_middle .middle_button {
    text-align: center;
    margin: 0;
    top: 30px;
  }
  header .header_bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header_bottom .nav_arrow a {
    display: block;
  }
  h2 {
    width: 100%;
    font-size: 29px;
  }
  section.first_section {
    padding: 70px 0;
    height: 100px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 90%;
    margin: 0 auto;
  }
  section.first_section p {
    margin: 0 auto;
  }
  section.first_section p span {
    color: #F25022;
  }
  .banner2 {
    background-size: 100% 250%;
  }
  .banner2 h2 {
    font-size: 30px;
    font-weight: 400;
  }
  section.lorem {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 350px;
  }
  section.lorem .lorem_container {
    width: 25%;
    margin-top: 0 !important;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section.lorem .lorem_container p {
    font-size: 15px;
    width: 95%;
  }
  section.arrow_section {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.arrow_section p {
    width: 100%;
  }
  section.arrow_section h2 {
    width: 100%;
  }
  section.arrow_section div[none=true] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.arrow_section .arrow_container {
    width: 40%;
    max-width: 520px;
    margin-top: 25px;
  }
  section.arrow_section .arrow_container:nth-child(even) {
    margin-left: 40px;
  }
  hr {
    display: none;
  }
  .handShake_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    margin-top: 50px;
  }
  .handShake_section .container {
    max-width: 197px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 350px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .handShake_section .container .button {
    max-height: 37px;
    margin-top: -40px;
  }
  .handShake_section .container .button h3 {
    margin: 0 auto;
  }
  .handShake_section .container .text_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .handShake_section .container .text_container .text {
    padding: 0;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    height: 400px;
  }
  .handShake_section .container .text_container .text h3:before {
    content: '';
    position: absolute;
    background-color: #DFDFDF;
    width: 50px;
    height: 1px;
    border: 1px solid #DFDFDF;
    margin: 0 auto;
    margin-top: 38px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .handShake_section .container .text_container .text h3, .handShake_section .container .text_container .text p {
    width: 130%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
  .handShake_section .container .text_container .text p {
    margin-top: 30px;
  }
  .handShake_section .container .simbol {
    float: none;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
/*# sourceMappingURL=style.css.map */